// Navigation
.c-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 80%;
  padding: 5px 30px;
  margin: 20px auto 0 auto;
  border-radius: 40px;
  background: rgb(255 255 255 / 5%);
  border: 1px solid rgb(255 255 255 / 10%);
  backdrop-filter: blur(6px);
  
  &__logo {
    display: flex;
    align-items: center;
    gap: 20px;
    color: var(--c-white);
    
    &:hover {
      strong {
        color: var(--c-green);
      }
    }
    
    img {
      border-radius: 50%;
      border: 1px solid rgba(255, 255, 255, 0.1)
    }
    
    &--meta {
      line-height: 1.1;
      
      p {
        &:first-of-type {
          font-size: var(--font-size--xs);
        }
      }
    }    
  }
  
  &__links {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  
  &__link {
    color: var(--c-white);
    
    &:hover {
      color: var(--c-green);
    }
  }
}