body {
  min-height: 100vh;
  background-color: var(--c-green--dark); // fallback
  // background: linear-gradient(-45deg, var(--c-green--dark), var(--c-green--darkest));
  // background-size: 400% 400%;
  // background-repeat: no-repeat;
  // animation: gradient 15s ease infinite;
  color: var(--c-slate--lightest);
  font-family: var(--font-family-body);
}

p {
  letter-spacing: .2px;
}