// Fonts
.font-size--xs {
  font-size: var(--font-size--xs);
}

.font-size--sm {
  font-size: var(--font-size--sm);
}

.font-size--md {
  font-size: var(--font-size--md);
}

.font-size--lg {
  font-size: var(--font-size--lg);
}

.font-size--xl {
  font-size: var(--font-size--xl);
}

.font-size--xxl {
  font-size: var(--font-size--xxl);
}

.font-size--jumbo {
  font-size: var(--font-size--jumbo);
  
  @include breakpoint(md){
    font-size: var(--font-size--xl);
  }
}

.font-color--green {
  color: var(--c-green);
  
  &--light {
    color: var(--c-green--light);
  }
  
  &--lightest {
    color: var(--c-green--lightest);
  }
}