// Mixins

// Breakpoints
$bp-xs: 320px;
$bp-sm: 480px;
$bp-md: 768px;
$bp-lg: 1024px;
$bp-xl: 1200px;
$bp-xxl: 1440px;
$bp-xxxl: 1920px;

@mixin breakpoint($size) {
  @if $size == xs {
    @media (max-width: $bp-xs) { @content; }
  } @else if $size == sm {
    @media (max-width: $bp-sm) { @content; }
  }  @else if $size == md {
    @media (max-width: $bp-md) { @content; }
  } @else if $size == lg {
    @media (max-width: $bp-lg) { @content; }
  } @else if $size == xl {
    @media (max-width: $bp-xl) { @content; }
  } @else if $size == xxl {
    @media (max-width: $bp-xxl) { @content; }
  } @else if $size == xxxl {
    @media (max-width: $bp-xxxl) { @content; }
  }
}