// General Variables

// Primary Font
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,700;1,100;1,400&display=swap');

// Colors 
:root {
  // --c-green: #64ffda;
  --c-green: #00ff94;
  --c-green--light: #63ffbd;
  --c-green--lightest: #bafce0;
  --c-green--dark: #0a2b30;
  --c-green--darkest: #061e21;
  --c-navy: #0a192f;
  --c-slate: #8892b0;
  --c-slate--light: #a8b2d1;
  --c-slate--lightest: #ccd6f6;
  --c-white: #e6f1ff;
}

// Fonts 
:root {
  --font-family-body: "Montserrat", sans-serif;
  --font-family-primary: "Montserrat", sans-serif;
  --font-size--xxs: 0.8em;
  --font-size--xs: 1em;
  --font-size--sm: 1.5em;
  --font-size--md: 1.8em;
  --font-size--lg: 2em;
  --font-size--xl: 2.5em;
  --font-size--xxl: 3em;
  --font-size--jumbo: 4em;
}

// Spacing 
:root {
  --padding-base: 20px;
  --padding-half: calc(var(--padding-base) - 10px);
  --padding-double: calc(var(--padding-base) * 2);
  --padding-triple: calc(var(--padding-base) * 3);
  --margin-base: 20px;
  --margin-half: calc(var(--margin-base) - 10);
  --margin-double: calc(var(--margin-base) * 2);
  --margin-triple: calc(var(--margin-base) * 3);
}
