---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About | Justin Green: Front-End Engineer">
  <main class="c-main u-margin--top--lg">      
    <div class="l-container l-container--lg">
      <div class="u-fade-up">
        <h1 class="font-color--green font-size--jumbo u-text--center">Hey there!</h1>           
        <p class="c-details u-padding--top--sm">
          My name is Justin Green, I'm a seasoned Front-End Engineer with 8 years of experience crafting premium user experiences, websites, and web applications within collaborative agency environments. Proven leader in development projects, known for streamlining project processes and implementing innovative solutions to enhance and automate workflows. 
          <br />
          <br />
          Expertise in HTML, CSS, JavaScript, PHP, and modern frameworks including React, Next, and Astro. Skilled in collaborating with cross-functional teams to deliver high-quality projects on time and within budget. Committed to staying current with industry trends and continuously improving technical skills to drive project success.
        </p>
      </div>
    </div>
  </main>
</Layout>

<style lang="scss">
  .c-details {
    max-width: 800px;
    margin: auto;
    font-size: var(--font-size--sm);
    
    @media(max-width: 767px) { 
      font-size: var(--font-size--xs);
    }
  }
</style>