---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Justin Green | Developer">
	<main class="u-margin--top--lg">      
    <div class="l-container l-container--lg">
      <div class="u-fade-up">
        <h1 class="font-color--green font-size--jumbo">Home Page</h1>
        
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque quisquam eum incidunt officiis. Sapiente repellendus adipisci sit, magni ipsa assumenda quia natus quod eligendi qui quidem cupiditate totam provident odit ad quas asperiores officia nemo amet in? Possimus dolorem maxime dolor, voluptates dignissimos ad eum a aperiam maiores ea reiciendis?</p>
      </div>
    </div>
    
    <!-- <h1 class="font-color--green font-size--jumbo">Projects</h1> -->
		<!-- <h1 class="font-color--green font-size--jumbo">Justin Green</h1>
    <h2>Front-End Developer</h2> -->
	</main>
</Layout>

<style lang="scss">
  .c-grid-block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    
    &__item {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 300px;
      border-radius: 20px;
      background: rgb(255 255 255 / 5%);
      border-bottom: 1px solid rgb(255 255 255 / 10%);
      backdrop-filter: blur(6px);
    }
  }
</style>