---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Justin Green | Developer">
	<main class="margin--top--lg">
    <!-- <h1 class="font-size--jumbo">Hello I'm Justin</h1> -->
    
    <div class="container container--lg">
      <div class="c-grid-block">
        <div class="c-grid-block__item">About Me</div>
        <div class="c-grid-block__item">Projects</div>
        <div class="c-grid-block__item">Resume</div>
      </div>
    </div>
    
    <!-- <h1 class="font-color--green font-size--jumbo">Projects</h1> -->
		<!-- <h1 class="font-color--green font-size--jumbo">Justin Green</h1>
    <h2>Front-End Developer</h2> -->
	</main>
</Layout>

<style lang="scss">
  .c-grid-block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    
    &__item {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 300px;
      border-radius: 20px;
      background: rgb(255 255 255 / 5%);
      border-bottom: 1px solid rgb(255 255 255 / 10%);
      backdrop-filter: blur(6px);
    }
  }
</style>