---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Justin Green | Full-Stack Developer">
  <main class="u-margin--top--lg">      
    <div class="l-container l-container--lg">
      <div class="u-fade-up">
        <h1 class="font-color--green font-size--jumbo">Tools (skills) Page</h1>
        <p>Short explanation of why you use each tool</p>
        
        <h3>Code Editor: <a href="https://nova.app/" target="_blank">Nova</a></h3>        
        
        <div class="c-tool__block u-margin--top--lg">
          <h3>Daily Drivers (subject to change)</h3>
          HTML, CSS, JS, PHP, Twig, GraphQL, Git, React
        </div>
        
        <div class="c-tool__block u-margin--top--lg">
          <h3>Frameworks</h3>
          Next, Nextra, React, Astro
        </div>
        
        <div class="c-tool__block u-margin--top--lg">
          <h3>AI</h3>
          <a href="https://claude.ai/" target="_blank">Claude</a>
        </div>
        
        <div class="c-tool__block u-margin--top--lg">
          <h3>Project Management</h3>
          Notion, Linear, Trello, Asana
        </div>
        
        <div class="c-tool__block u-margin--top--lg">
          <h3>Design</h3>
          Figma, Photoshop, Premier
        </div>
        
        
        <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque quisquam eum incidunt officiis. Sapiente repellendus adipisci sit, magni ipsa assumenda quia natus quod eligendi qui quidem cupiditate totam provident odit ad quas asperiores officia nemo amet in? Possimus dolorem maxime dolor, voluptates dignissimos ad eum a aperiam maiores ea reiciendis?</p> -->
      </div>
    </div>
    
    <!-- <h1 class="font-color--green font-size--jumbo">Projects</h1> -->
    <!-- <h1 class="font-color--green font-size--jumbo">Justin Green</h1>
    <h2>Front-End Developer</h2> -->
  </main>
</Layout>

<style lang="scss">
  
  
</style>