---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Style Guide">
  <main>
    <h1 class="padding--top--sm padding--bottom--sm font-size--jumbo font-color--green">Headings</h1>
    <h1 class="padding--top--sm padding--bottom--sm">(H1) Heading 1</h1>
    <h2 class="padding--top--sm padding--bottom--sm">(H2) Heading 2</h2>
    <h3 class="padding--top--sm padding--bottom--sm">(H3) Heading 3</h3>
    <h4 class="padding--top--sm padding--bottom--sm">(H4) Heading 4</h4>
    <h5 class="padding--top--sm padding--bottom--sm">(H5) Heading 5</h5>
    <h6 class="padding--top--sm padding--bottom--sm">(H6) Heading 6</h6>
    <p class="padding--bottom--sm">Paragraph text</p>
    
    <div class="c-badge__group padding--bottom--sm">
      <div class="c-badge">Badge 1</div>
      <div class="c-badge">Badge 2</div>
      <div class="c-badge">Badge 3</div>
    </div>
  </main>
</Layout>

<style lang="scss">
  main {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .c-badge {
    display: inline-flex;
    padding: 10px 15px;
    border-radius: 20px;
    background-color: var(--c-green--darkest);
    font-size: var(--font-size--xs);
    
    &__group {
      display: flex;
      gap: 10px;
    }
  }
</style>