---
import Badge from '../components/Badge.astro';
---
<div class="c-home-hero">
  <div class="c-home-hero__grid">
    <div class="c-home-hero__image">
      <img src="/thumbnails/replay-ui-thumbnail.jpg" alt="Replay UI">
    </div>
    
    <div class="c-home-hero__details">
      <h2>Replay UI</h2>
      <p>Replay UI is a component library that provides vanilla code snippets to boost productivity and enable developers to build websites and applications faster.</p>
      <div class="c-home-hero__badge-group">
        <Badge>Astro</Badge>
        <Badge>Component Library</Badge> 
      </div>
      <a href="https://replayui.com" target="_blank" class="c-home-hero__cta">View Project <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path fill="#00ff94" d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h560v-280h80v280q0 33-23.5 56.5T760-120H200Zm188-212-56-56 372-372H560v-80h280v280h-80v-144L388-332Z"/></svg></a>
    </div>
  </div>
</div>