<div class="c-modal">
  <div class="card">    
    <div class="card__close-wrapper">
      <button class="card-close">
        <svg xmlns="http://www.w3.org/2000/svg" height="40" viewBox="0 -960 960 960" width="40"><path fill="#d23131" d="m336-280 144-144 144 144 56-56-144-144 144-144-56-56-144 144-144-144-56 56 144 144-144 144 56 56ZM200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Zm0-80h560v-560H200v560Zm0-560v560-560Z"/></svg>
      </button>      
    </div>
    
    <div class="c-modal__project-meta u-padding--bottom--sm">
      <h2 class="c-modal__project-title">Modal</h2>          
    </div>
    <div class="c-modal__grid">
      <div class="c-modal__grid-left">
        <div class="c-modal__project-image">
          <img src="https://fastly.picsum.photos/id/866/536/354.jpg?hmac=tGofDTV7tl2rprappPzKFiZ9vDh5MKj39oa2D--gqhA" alt="Project Title" />
        </div>
      </div>
      
      <div class="c-modal__grid-right">  
        <div class="c-modal__grid-right-content">   
          <h4>Overview</h4>
          <a href="#" class="c-modal__project-link" target="_blank" rel="noferrer noopener nofollow">
            View Project
            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path fill="#00ff94" d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h560v-280h80v280q0 33-23.5 56.5T760-120H200Zm188-212-56-56 372-372H560v-80h280v280h-80v-144L388-332Z"/></svg>
          </a>
          <div class="c-modal__project-details u-margin--top--xs">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse odit reprehenderit veritatis error nostrum ex ipsam quod alias aspernatur? Architecto praesentium nisi voluptatem deleniti tempore eum recusandae consequuntur earum dignissimos corporis sed itaque, a ipsam debitis ex reprehenderit dolorem ipsum numquam, sapiente sequi! Numquam maiores dolorum dolores cum. Quasi, nisi!
          </div>
          
          <div class="c-modal__project-tools-block">
            <h5 class="u-margin--top--sm u-margin--bottom--xs">Tools Used</h5>
            <div class="c-modal__project-tools">
              Tools used
            </div>
          </div>
        </div>   
      </div>
    </div>
  </div>
</div>