<div class="c-modal">
  <div class="card">    
    <div class="u-display--flex u-justify-content--right">
      <button class="card-close">
        X
      </button>      
    </div>
    
    <h2>Modal</h2>
  </div>
</div>