<div class="c-modal">
  <div class="card">    
    <div class="u-display--flex u-justify-content--right">
      <button class="card-close">
        X
      </button>      
    </div>
    
    <div class="c-modal__project-meta u-padding--bottom--sm">
      <h2 class="c-modal__project-title">Modal</h2>    
      <a href="#" class="c-modal__project-link" target="_blank" rel="noferrer noopener nofollow">View Project</a> 
    </div>
    <div class="c-modal__grid">
      <div class="c-modal__grid-left">
        <div class="c-modal__project-image">
          <img src="https://fastly.picsum.photos/id/866/536/354.jpg?hmac=tGofDTV7tl2rprappPzKFiZ9vDh5MKj39oa2D--gqhA" alt="Project Title" />
        </div>
      </div>
      
      <div class="c-modal__grid-right">         
        <div class="c-modal__project-details">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse odit reprehenderit veritatis error nostrum ex ipsam quod alias aspernatur? Architecto praesentium nisi voluptatem deleniti tempore eum recusandae consequuntur earum dignissimos corporis sed itaque, a ipsam debitis ex reprehenderit dolorem ipsum numquam, sapiente sequi! Numquam maiores dolorum dolores cum. Quasi, nisi!
        </div>
      </div>
    </div>
  </div>
</div>