---
import { Image } from 'astro:assets';
import github from "../images/github.svg?raw";
import headshot from "../images/headshot.jpg";
const {text} = Astro.props;
---

<nav class="c-navigation">
  <a href="/" class="c-navigation__logo">
    <Image src={headshot} alt="Justin Green" width="60" height="60" />
      
    <div class="c-navigation__logo--meta">
      <p><strong>Justin Green</strong></p>
      <p>Developer</p>
    </div>  
  </a>      
  
  <div class="c-navigation__links">
    <a class="c-navigation__link" href="#">About</a>
    <a class="c-navigation__link" href="#">Projects</a>
    <a class="c-navigation__link--social" href="https://github.com/justincgreen" target="_blank">
      <Fragment set:html={github} />
    </a>
  </div> 
</nav>