---
import { ViewTransitions } from 'astro:transitions';
import '../styles/styles.scss';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="OKC based web developer who creates websites and web-based applications utiliizing various modern web technologies." />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" href="/favicon.ico" />
    <link rel="sitemap" href="/sitemap-index.xml" />
		<meta name="generator" content={Astro.generator} />
    <meta name="google-site-verification" content="A89dLa_G6QUUxjzFhgK2T7D8Snha-1_c0k8zisnt0vQ" />
		<title>{title}</title>
    <ViewTransitions />
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZX09BESMWB"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-ZX09BESMWB');
    </script>
	</head>
	<body>
    <Navigation />
		<slot />
      
    <Footer />
	</body>
</html>